<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <style>
        .padding-individual {
            padding-top: 40px;    /* 文字与上边框距离 */
            padding-right: 20px;  /* 文字与右边框距离 */
            padding-bottom: 20px; /* 文字与下边框距离 */
            padding-left: 20px;   /* 文字与左边框距离 */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="/img/logo.png" style="height: 25px;">
                    </a>
                    </div>
                    <p class="navbar-text navbar-left">作业时间估算</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </nav>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        

        <footer>
        <hr>
        <p>&copy; 2026 广州市第七中学. 保留所有权利.</p>
    </footer>
    </div>
    <div class="col-md-3"></div>
</body>
</html>