<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>作业详情 | 作业时间估算</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <style>
        .padding-individual {
            padding-top: 40px;    /* 文字与上边框距离 */
            padding-right: 20px;  /* 文字与右边框距离 */
            padding-bottom: 20px; /* 文字与下边框距离 */
            padding-left: 20px;   /* 文字与左边框距离 */
        }
        .badge-ljc {
            background-color: #28a745; 
            color: white;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="container-fluid">
                    <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="/img/logo.png" style="height: 25px;">
                    </a><p class="navbar-text navbar-left">作业时间估算</p>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">管理</a></li>
                        <li><a href="/user/logout">登出</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        
    </nav>

    <div class="col-md-3"></div>
    <div class="col-md-6">
        
        <div class="list-group">
            <div class="list-group-item active">
                <h2 class="list-group-item-heading">{{ task_id }} 作业详情</h2>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">2 小时 59 分钟</span>
                <h4 class="list-group-item-heading">语文</h4>
                <p class="list-group-item-text">1. 卷子</p>
                <p class="list-group-item-text">2. 作文</p>
                <p class="list-group-item-text">3. 抄写</p>
                
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">2 小时 59 分钟</span>
                <h4 class="list-group-item-heading">数学</h4>
                <p class="list-group-item-text">1. 卷子</p>
                <p class="list-group-item-text">2. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">1 小时 14 分钟</span>
                <h4 class="list-group-item-heading">英语</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">1 小时 14 分钟</span>
                <h4 class="list-group-item-heading">物理</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">5 小时 14 分钟</span>
                <h4 class="list-group-item-heading">化学</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">1 小时 9 分钟</span>
                <h4 class="list-group-item-heading">生物</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">1 小时 9 分钟</span>
                <h4 class="list-group-item-heading">历史</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">8 小时 10 分钟</span>
                <h4 class="list-group-item-heading">政治</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
            <div class="list-group-item">
                <span class="badge badge-ljc">1 小时 14 分钟</span>
                <h4 class="list-group-item-heading">地理</h4>
                <p class="list-group-item-text">1. 卷子</p>
            </div>
        </div>
        
        <footer>
        <hr>
        <p>&copy; 2026 广州市第七中学. 保留所有权利.</p>
    </footer>
    </div>
    <div class="col-md-3"></div>
</body>
</html>